<h1>Listing posts</h1>

<table>
  <tr>
    <th>Subject</th>
    <th>Body</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.subject %></td>
    <td><%= post.body %></td>
    <td><%= post.user.try(:email) %></td>
    <td><%= link_to 'Show', krug_forum.post_path(post) %></td>
    <td><%= link_to 'Edit', krug_forum.edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', krug_forum.post_path(post), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', krug_forum.new_post_path %>
