<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @post.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<%= link_to 'Edit', krug_forum.edit_post_path(@post) %> |
<%= link_to 'Back', krug_forum.posts_path %>
